In [8]:
import pandas as pd

data = pd.read_csv("modified-Algerian_forest_fires_dataset.csv", skiprows=1, sep=' *, *', engine='python')
data.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire

In [9]:
data["Classes"].unique()

array(['not fire', 'fire'], dtype=object)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          244 non-null    int64
 1   month        244 non-null    int64
 2   year         244 non-null    int64
 3   Temperature  244 non-null    int64
 4   RH           244 non-null    int64
 5   Ws           244 non-null    int64
 6   Rain         244 non-null    float64
 7   FFMC         244 non-null    float64
 8   DMC          244 non-null    float64
 9   DC           244 non-null    float64
 10  ISI          244 non-null    float64
 11  BUI          244 non-null    float64
 12  FWI          244 non-null    float64
 13  Classes      244 non-null    object
dtypes: float64(7), int64(6), object(1)
memory usage: 26.8+ KB

In [11]:
data.keys()

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes'],
      dtype='object')

In [14]:
# precision & recall regarding dog as positive
precision_dog = 22/(22+4+1)
recall_dog = 22/(22+1+1)

# cat
precision_cat = 45/(45+1+1)
recall_cat = 45/(45+4+2)

# fish
precision_fish = 23/(23+1+2)
recall_fish = 23/(23+4+1+1)

# average precision
average_precision = round((precision_dog + precision_cat + precision_fish)/3,2)
# average recall
average_recall = round((recall_dog + recall_cat + recall_fish)/3,2)

print(average_precision)
print(average_recall)

0.89
0.86

In [14]:
import numpy as np

cm = [[22, 1, 1], [4, 45, 2], [1, 1, 23]]

precisions = []
recalls = []

for i in range(3):
    precisions.append(cm[i][i]/sum(row[i] for row in cm))
    recalls.append(cm[i][i]/np.sum(cm[i]))

# average precision accurate up 2 decimal place
average_precision = round(np.sum(precisions)/3, 2)
# average recall accurate up 2 decimal place
average_recall = round(np.sum(recalls)/3, 2)

print('average precision: ' f'{average_precision}')
print('average recall: ' f'{average_recall}')

average precision: 0.89
average recall: 0.91

In [11]:
# precision & recall regarding dog as positive
precision_dog = 22/(22+4+1)
recall_dog = 22/(22+1+1)
# cat
precision_cat = 45/(45+1+1)
recall_cat = 45/(45+4+2)
# fish
precision_fish = 23/(23+1+2)
recall_fish = 23/(23+1+1)
# average precision accurate up 2 decimal place
average_precision = round(
    (precision_dog + precision_cat + precision_fish)/3, 2)
# average recall accurate up 2 decimal place
average_recall = round((recall_dog + recall_cat + recall_fish)/3, 2)
print(average_precision)
print(average_recall)

0.89
0.91

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# standardize the feature data
scaler = StandardScaler()
features = data.drop('Classes', axis=1).columns
data[features] = scaler.fit_transform(data[features])


# split features and class label into X and y
X = data.drop('Classes', axis=1)
y = data['Classes']

# fit the model
lr = LogisticRegression(penalty='l1', solver='liblinear')
lr.fit(X, y)

# find important features
coefs = lr.coef_[0]
for feature, coef in zip(features, coefs):
    print(f'{feature}: {coef}')
important_features = X.columns[list(coefs!=0)].tolist()

day: 0.18179734927757327
month: 0.0
year: 0.0
Temperature: 0.0
RH: 0.0
Ws: -0.026950325938861645
Rain: -0.14146734032842936
FFMC: -7.868093525654745
DMC: 0.0
DC: -0.4547742104732369
ISI: -3.5272132724780763
BUI: 0.0
FWI: 0.0

['day', 'Ws', 'Rain', 'FFMC', 'DC', 'ISI']

In [73]:
import numpy as np
from sklearn.model_selection import train_test_split

X = X[important_features]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape

(170, 6)

In [74]:
X_test.shape

(74, 6)